 <div class="row">
    <div class="container">
      <h4>Developers Email <span class='pull-right'><%= link_to "Download (CSV)", developers_path(format: "csv") %></span></h4><br/>
      <table class="table table-hover">
        <thead>
          <th>SN</th><th>Email</th>
        </thead>
        <tbody>
          <% @developers.each_with_index do |developer, i| %>
          <tr>
            <td class="col-md-2"><%= i+1 %></td>
            <td class="col-md-10"><%= developer.email %></td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>