<footer>
  <div class="container">
    <div class="row">
      <div>
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/nodebomb" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://www.facebook.com/nodebomb" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="https://instagram.com/officialnodebomb" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="list-inline quicklinks">
          <li><a href="#">Privacy Policy</a>
          </li>
          <li><a href="#">Terms of Use</a>
          </li>
        </ul>
        <div class="footer-bottom-line"></div>
      </div>
    </div>
  </div>
  <div>
    <span class="copyright">Copyright &copy; NodeBomb 2015</span>
  </div>
</footer>