<!-- Navigation -->
<nav class="navbar navbar-default main-navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="/">
        <%=image_tag ("NodeBomb_logo.png") %> <span><span>Node</span>Bomb</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>          
          <a class="page-scroll" href="/about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="/deck">Deck</a>
        </li>
        <li>
          <a class="page-scroll" href="#" data-toggle="modal" data-target=".video-modal-lg">Video</a>
        </li>
        <li>
          <a class="page-scroll" href="/staff">Staff</a>
        </li>
        <li>
          <a class="page-scroll" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header deck-pop">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><span><i class="fa fa-table"></i>
        </span>&nbsp;View Deck Board</h4>
      </div>
      <div class="modal-body">
        <form action="">
        <h4>Our 12-month Seed Funding Round is $475K</h4>
          <span class="user-access-pswd"><p>Password</p></span><span class="password-label"><input type="password" value=""></span>
        </form>
        <div class="seperater">OR</div>
        <button id="invester-form"type="button" class="btn btn-default request-btn" data-dismiss="modal" class="modal fade" role="dialog" data-toggle="modal" data-target="#myModal1">REQUEST ACCESS</button>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div id="myModal1" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header deck-pop">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">I'M INTERESTED IN INVESTING</h4>
      </div>
      <div class="modal-body">
        <form action="https://getsimpleform.com/messages?form_api_token=b5ff46c898c2ab938350fa6ceb999eff" method="post">
          <input type='hidden' name='redirect_to' value=<%= root_url%> />
          <p>Please enter your reservation amount. This is a non-binding soft reservation. A company representative will be notified and you'll have an opportunity to contact.</p>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">$</span>
            <input type="text" name="amount" class="form-control" aria-label="Amount (to the nearest dollar)" pattern="[0-9]*" title="Enter numbers only." placeholder="Amount" required>
          </div>
          <h4 class="Comments-hd">Email</h4>
          <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
          <h4 class="Comments-hd">Investor/Group Name</h4>
          <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
          <h4 class="Comments-hd">Contact Number</h4>
          <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Contact Number" pattern="[0-9]*" title="Enter numbers only." required>
          <h4 class="Comments-hd">Comments or Questions (optional)</h4>
          <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message." name="message"></textarea>
          <p class="help-block text-danger"></p>
            <div class="modal-footer">
              <button id="invester-form" type="submit" class="btn btn-default request-btn">MAKE A RESERVATION</button>
            </div>
        </form>
      </div>
    </div>

  </div>
</div>
