<section id ="about">
  <div class="row heading-bg">
    <div class="container">
      <div class="col-lg-12 text-left">
        <h2 class="section-heading">About Us</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container about-sec clearfix">
      <div class="about-content">
        <center><h2>Where Software Developers come to Increase.</h2>
        <p>Increase job opportunities by 50% and Freelance pay rates up to 25%</p><br>
        <p>The Platform for Developers to build custom Work Portfolios & Experienced Freelance Developers to connect with quality clients.<br>
      NodeBomb. Build & Increase. </p></center>
        </p>
      </div>
      <div class="col-md-6">
        <div class="about-img">
          <iframe src="https://player.vimeo.com/video/137174539" width="550" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
        </div>
      </div>
      <div class="col-md-6 about-img">
        <iframe src="https://player.vimeo.com/video/135542856" width="550" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
      </div>
    </div>
  </div>
</section>