<section id ="about">
  <div class="row row heading-bg">
    <div class="container">
      <div class="col-lg-12 text-left">
        <h2 class="section-heading">About Us</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container about-sec">
      <div class="about-content">
        <center><h2>Welcome to NodeBomb</h2>
        <p>Increase Job Opportunities, Connect & Support Developers across the world.</p><br>
        <p>The Social Network for Developers. Connect with Developers across the globe, build and share your portfolio with one click while connecting to top freelance jobs everywhere.
      Make connecting you to the job and the world easier.<br>
      What will you build?" </p></center>
        </p>
      </div>
      <div class="col-md-6">
        <div class="about-img"> 
          <iframe src="https://player.vimeo.com/video/135542058" width="550" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/135542058">NodeBomb Interviews</a> <a href="https://vimeo.com/nodebomb"></a> </p>
        </div>
      </div>
      <div class="col-md-6 about-img pull-right">
        <iframe src="https://player.vimeo.com/video/135542856" width="550" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/135542856">NodeBomb Monologue</a>  <a href="https://vimeo.com/nodebomb"></a> </p>
      </div>
    </div>
  </div>
</section>