<!-- Header -->
<header class="hero">  
  <div class="container banner-margin-top">
    <div class="row">      
      <section class="header_content">
        <h1 ><span>increase.</span><br> connect & support</h1>
        <h3 class="pull-right"><span>| </span> &nbsp;&nbsp;&nbsp; Whatyouwillbuild</h3>
        <p class="banner-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at lectus ac dolor bibendum suscipit. Vivamus laoreet dapibus neque vel</p>
        <section class="email_register ">
          <form action="" class="">
            <div class="form-group">
              <label for=""> Register now developers for early access</label><br>
              <input type="text" class="form-control" placeholder="Enter your email address">
              <button type="submit" class="btn btn-default email-submit-btn">Submit</button>            
            </div>
          </form>
        </section>       
      </section>
    </div>
  </div>
  <div id="navigation">
    <nav class="navbar navbar-default main-navbar">
      <div class="container">
        <div class="row">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="banner-nav navbar-brand page-scroll" href="/">
              <%=image_tag ("nav-logo.png") %><!--  <span><span>Node</span>Bomb</span> -->
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="hidden">
                <a href="#page-top"></a>
              </li>
              <li>          
                <a class="page-scroll" href="/about">About</a>
              </li>
              <li>
                <a class="page-scroll" href="/deck">Deck</a>
              </li>
              <li>
                <a class="page-scroll" href="#" data-toggle="modal" data-target=".video-modal-lg">Video</a>
              </li>
              <li>
                <a class="page-scroll" href="/staff">Staff</a>
              </li>
              <li>
                <a class="page-scroll" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        <!-- /.navbar-collapse -->
        </div>
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>
</header>
<!--End Header -->

<!-- NodeBomb presention -->
<section class="presentation">
  <div class="container">
    <section class="row">
      <div class="col-md-6">
        <header>
          <h2 class="section-heading">NodeBomb Presentation</h2>
          <div class="sub_heading">
            <span>Location <a href="#">New York City</a></span> | <span>Speaker <a href="#">Ben Orenstien</a> </span> 
          </div>
        </header>
        <article>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at lectus ac dolor bibendum suscipit. Vivamus laoreet dapibus neque vel ornare. Curabitur at tellus a magna suscipit lobortis. Donec gravida lacinia ligula, eu finibus elit. Aliquam ut turpis iaculis, suscipit nisl quis, dignissim metus.
          </p>
        </article>
        <h2>Coders Unite.</h2>
      </div>
      <div class="col-md-6">
        <div class="presentation_video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/SkdrYWhh-8s" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </section> 
  </div>
</section>
<!--End NodeBomb presention -->
<!-- Team Section -->
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Three Success Stories</h2>        
      </div>
    </div>
    <div class="row team">
      <div class="col-sm-4">
        <div class="team_member text-center">
          <div class="team_images mem1"></div>
          <h4><span class="story-prsn-name"><strong>Eric</strong></span> <span>USA</span></h4>
          <p> "I created a profile and, and just landed my dream job."</p>                      
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team_member text-center">
          <div class="team_images mem2"></div>                        
          <h4><span class="story-prsn-name"><strong>Amit</strong></span> <span>Bangladesh</span></h4>
          <p>"Instantly my job opportunities because I'm competing against a smaller pool of developers"</p>                       
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team_member text-center">
          <div class="team_images mem3"></div>

          <h4><span class="story-prsn-name"><strong>Pavel</strong></span> <span>Canada</span></h4>
          <p> "The Q&A Groups helped me fix a bug in my code"</p>                       
        </div>
      </div>
    </div>
  </div>
</section>

<!-- NodeBomb community -->
<section id="community" >
  <div class="container">
    <div class="row community-row">
      <div class="col-lg-12 text-center">
        <h2 class="community-section-heading">Join the nodeBomb community in 1-2-3-4</h2>
      </div>
      <div class="row community_blocks">
        <div class="col-sm-3 text-center">
          <div class="node-bomb-community">
            <div class="community-btns "><i class="fa fa-suitcase "></i></div>
            <span class="fa fa-plus"></span>
            <p>Create a work portfolio!</p>
          </div>
        </div>
        <div class="col-sm-3 text-center">
          <div class="node-bomb-community">
            <div class="community-btns "><i class="fa fa-users "></i></div>
            <span class="fa fa-plus"></span>
            <p>Connect with Developers across the globe</p>
          </div>
        </div>
        <div class="col-sm-3 text-center">
          <div class="node-bomb-community">
            <div class="community-btns "><i class="fa fa-comments"></i></div>
            <span class="fa fa-plus"></span>
            <p>Search and join Q&A Groups</p>
          </div>
        </div>
        <div class="col-sm-3 text-center">
          <div class="node-bomb-community">
            <div class="community-btns "><i class="fa fa-usd"></i></div>          
            <p>Startups connect with Investors</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End NodeBomb community -->


<!-- Showcace -->
<section id="showcase">
  <div class="container text-center">
    <div class="col-md-8">    
      <!-- <div class="row text-center">
        <iframe width='100%' height='800' src='/Final_NodBomb.pdf' frameborder='0' allowfullscreen></iframe>
      </div> -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <%  (2..5).each do |n|%>
          <li data-target="#carousel-example-generic" data-slide-to="#{n}"></li>
          <%end%>
        </ol>
        <!-- Wrapper for slides -->      
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag ('showcase.png')%>
          </div>
          <%  (2..5).each do |n|%>
          <div class="item ">
            <%=image_tag "bslide#{n}.jpg"%>
          </div>
          <%end%>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="fa fa-angle-left " aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="fa fa-angle-right " aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-md-2 col-md-offset-1 text-left"><h2 class="section-heading">Use NodeBomb on any device, easily.</h2></div>
    
  </div>

</section>
<!-- End Showcace -->