<!-- Header -->
<header class="hero">  
  <div class="container">
    <div class="row">      
      <section class="header_content">
        <h1>increase.<br> connect & support</h1>
        <h3>What you will build</h3>
        <section class="email_register ">
          <form action="" class="">
            <div class="form-group">
              <label for="">Developer Register now for early access</label><br>
              <input type="text" class="form-control" placeholder="Enter your email address">
              <button type="submit" class="btn btn-default">Submit</button>            
            </div>
          </form>
        </section>       
      </section>
    </div>
  </div>
</header>
<!--End Header -->
<!-- NodeBomb presention -->
<div class="container">
  <section class="presentation row">
    <div class="col-md-6">
      <header>
        <h3>NODEBOMB PRESENTATION</h3>
        <div class="sub_heading">
          <span>Location <a href="#">asfas</a></span> | <span>Speaker <a href="#">Jhon Doe</a> </span> 
        </div>
      </header>
      <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at lectus ac dolor bibendum suscipit. Vivamus laoreet dapibus neque vel ornare. Curabitur at tellus a magna suscipit lobortis. Donec gravida lacinia ligula, eu finibus elit. Aliquam ut turpis iaculis, suscipit nisl quis, dignissim metus.
        </p>
      </article>
      <h2>Coders Units</h2>
    </div>
    <div class="col-md-6">
      <div class="presentation_video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SkdrYWhh-8s" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </section> 
</div>
<!--End NodeBomb presention -->
<!-- seperation line -->
<section class="seperation">
  <div class="line"></div>
  <span></span>
</section>
<!--End seperation line -->
<!-- Team Section -->
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Three Success Stories</h2>        
      </div>
    </div>
    <div class="row team">
      <div class="col-sm-4">
        <div class="team_member text-center">
          <div class="team_images mem1"></div>
          <h4><span class="story-prsn-name">Eric</span>, USA</h4>
          <p> Uses NodeBomb to enhance his work profile and create a profolio. He just landed his dream job.</p>                      
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team_member text-center">
          <div class="team_images mem2"></div>                        
          <h4><span class="story-prsn-name">Amit</span>, Bangladesh</h4>
          <p> Is eligible to submit for jobs on NodeBomb, he now has less competition for jobs & he no longer has to lower his rates to compete.</p>                       
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team_member text-center">
          <div class="team_images mem3"></div>
                               
          <h4><span class="story-prsn-name">Pavel</span>, Canada</h4>
          <p> A CS student in University. He uses NodeBomb's Group Forums to get fast and friendly code and programming questions answered.</p>                       
        </div>
      </div>
    </div>
  </div>
</section>
<!-- seperation line -->
<section class="seperation">
  <div class="line"></div>
  <span></span>
</section>
<!--End seperation line -->
<!-- NodeBomb community -->
<section id="community" >
  <div class="container">
    <div class="row community-row">
      <div class="col-lg-12 text-center">
        <h2 class="community-section-heading">Join the nodeBomb community in 1-2-3-4</h2>
      </div>
      <div class="row community_blocks">
        <div class="col-sm-3 text-center">
          <div class="node-bomb-community">
            <div class="community-btns "><i class="fa fa-suitcase "></i></div>
            <span class="fa fa-plus"></span>
            <p>Create a work portfolio!</p>
          </div>
        </div>
        <div class="col-sm-3 text-center">
          <div class="node-bomb-community">
            <div class="community-btns "><i class="fa fa-users "></i></div>
            <span class="fa fa-plus"></span>
            <p>Connect with Developers across the globe</p>
          </div>
        </div>
        <div class="col-sm-3 text-center">
          <div class="node-bomb-community">
            <div class="community-btns "><i class="fa fa-comments"></i></div>
            <span class="fa fa-plus"></span>
            <p>Search and join Q&A Groups</p>
          </div>
        </div>
        <div class="col-sm-3 text-center">
          <div class="node-bomb-community">
            <div class="community-btns "><i class="fa fa-usd"></i></div>          
            <p>Startups connect with Investors</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End NodeBomb community -->
<!-- seperation line -->
<section class="seperation">
  <div class="line"></div>
  <span></span>
</section>
<!--End seperation line -->
<section id="service">
  <div class="container">
    <div class="row text-center">
      <h2 class="service-heading">INCREASE.CONNECT & SUPPORT</h2>
    </div>
  </div>
</section>
