
<!-- Header -->
<header>  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <section class="text-right header-element">
          <div class="language">
            <ul class="text-right list-unstyled">
              <li>C++</li>
              <li>java</li>
              <li>pythan</li>
              <li>ruby</li>
              <li>php</li>
              <li>mysql</li>
              <li>c-sharp</li>
              <li>c-objective</li>
              <li>ajax</li>
              <li>perl</li>
              <li>javascript</li>
            </ul>
          </div>
          <div class="mobile">
            <%= image_tag ('iphone.png')%>
          </div>
        </section>
      </div>
      <div class="col-md-5">
        <div class="header_white_space"></div>
        <section class="email_register text-left">
          <form action="" class="form-inline">   
            <label for="">Developer Register now for early access</label>       
            <div class="form-group">            
              <input type="text" class="form-control" placeholder="Enter your email address">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</header>
    <!-- Team Section -->
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Three Success Stories</h2>        
      </div>
    </div>
    <div class="row team">
      <div class="col-sm-4">
        <div class="team_member text-center">
          <div class="team_images mem1"></div>
          <h4><span class="story-prsn-name">Eric</span>, USA</h4>
          <p> Uses NodeBomb to enhance his work profile and create a profolio. He just landed his dream job.</p>                      
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team_member text-center">
          <div class="team_images mem2"></div>                        
          <h4><span class="story-prsn-name">Amit</span>, Bangladesh</h4>
          <p> Is eligible to submit for jobs on NodeBomb, he now has less competition for jobs & he no longer has to lower his rates to compete.</p>                       
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team_member text-center">
          <div class="team_images mem3"></div>
                               
          <h4><span class="story-prsn-name">Pavel</span>, Canada</h4>
          <p> A CS student in University. He uses NodeBomb's Group Forums to get fast and friendly code and programming questions answered.</p>                       
        </div>
      </div>
    </div>
  </div>
</section>

<section id="community" class="dark-grey">
  <div class="container">
    <div class="row community-row">
      <div class="col-lg-12 text-center">
        <h2 class="community-section-heading">Join the nodeBomb community in 1-2-3-4</h2>
      </div>
      <div class="row">
        <div class="col-sm-3 text-center">
          <div class="node-bomb-community">
            <div class="community-btns suitcase"><i class="fa fa-suitcase "></i></div>
            <p>Increase job opportunities with a well Design portfolio!</p>
          </div>
        </div>
        <div class="col-sm-3 text-center">
          <div class="node-bomb-community">
            <div class="community-btns users"><i class="fa fa-users"></i></div>
            <p>Connect with Developer across the world</p>
          </div>
        </div>
        <div class="col-sm-3 text-center">
          <div class="node-bomb-community">
            <div class="community-btns comments"><i class="fa fa-comments"></i></div>
            <p>Search and join our many Q&A Groups</p>
          </div>
        </div>
        <div class="col-sm-3 text-center">
          <div class="node-bomb-community">
            <div class="community-btns dollor"><i class="fa fa-usd"></i></div>
            <p>Startups Connect with investors</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="service">
  <div class="container">
    <div class="row text-center">
      <h2 class="service-heading">INCREASE.CONNECT & SUPPORT</h2>
    </div>
  </div>
  
</section>
