
@font-face{ 
  font-family: 'raleway-black';
  src: url(font-path('raleway-black-webfont.ttf'));
  src: url(font-path('raleway-black-webfont.eot')) format('embedded-opentype'),
       url(font-path('raleway-black-webfont.woff')) format('woff'),
       url(font-path('raleway-black-webfont.woff2')) format('woff'),
       url(font-path('raleway-black-webfont.svg')) format('svg');
}
@font-face{ 
  font-family: 'raleway-bold';
  src: url(font-path('raleway-bold-webfont.ttf'));
  src: url(font-path('raleway-bold-webfont.eot')) format('embedded-opentype'),
       url(font-path('raleway-bold-webfont.woff')) format('woff'),
       url(font-path('raleway-bold-webfont.woff2')) format('woff'),
       url(font-path('raleway-bold-webfont.svg')) format('svg');
}

@font-face{ 
  font-family: 'raleway-bold-webfont';
  src: url(font-path('raleway-bold-webfont-webfont.ttf'));
  src: url(font-path('raleway-bold-webfont-webfont.eot')) format('embedded-opentype'),
       url(font-path('raleway-bold-webfont-webfont.woff')) format('woff'),
       url(font-path('raleway-bold-webfont-webfont.woff2')) format('woff'),
       url(font-path('raleway-bold-webfont-webfont.svg')) format('svg');
}

@font-face{ 
  font-family: 'raleway-extrabold';
  src: url(font-path('raleway-extrabold-webfont.ttf'));
  src: url(font-path('raleway-extrabold-webfont.eot')) format('embedded-opentype'),
       url(font-path('raleway-extrabold-webfont.woff')) format('woff'),
       url(font-path('raleway-extrabold-webfont.woff2')) format('woff'),
       url(font-path('raleway-extrabold-webfont.svg')) format('svg');
}

@font-face{ 
  font-family: 'raleway-extralight';
  src: url(font-path('raleway-extralight-webfont.ttf'));
  src: url(font-path('raleway-extralight-webfont.eot')) format('embedded-opentype'),
       url(font-path('raleway-extralight-webfont.woff')) format('woff'),
       url(font-path('raleway-extralight-webfont.woff2')) format('woff'),
       url(font-path('raleway-extralight-webfont.svg')) format('svg');
}

@font-face{ 
  font-family: 'raleway-light';
  src: url(font-path('raleway-light-webfont.ttf'));
  src: url(font-path('raleway-light-webfont.eot')) format('embedded-opentype'),
       url(font-path('raleway-light-webfont.woff')) format('woff'),
       url(font-path('raleway-light-webfont.woff2')) format('woff'),
       url(font-path('raleway-light-webfont.svg')) format('svg');
}


@font-face{ 
  font-family: 'raleway-medium';
  src: url(font-path('raleway-medium-webfont.ttf'));
  src: url(font-path('raleway-medium-webfont.eot')) format('embedded-opentype'),
       url(font-path('raleway-medium-webfont.woff')) format('woff'),
       url(font-path('raleway-medium-webfont.woff2')) format('woff'),
       url(font-path('raleway-medium-webfont.svg')) format('svg');
}

@font-face{ 
  font-family: 'raleway-regular';
  src: url(font-path('raleway-regular-webfont.ttf'));
  src: url(font-path('raleway-regular-webfont.eot')) format('embedded-opentype'),
       url(font-path('raleway-regular-webfont.woff')) format('woff'),
       url(font-path('raleway-regular-webfont.woff2')) format('woff'),
       url(font-path('raleway-regular-webfont.svg')) format('svg');
}

@font-face{ 
  font-family: 'opensans-regular';
  src: url(font-path('opensans-regular-webfont.eot'));
  src: url(font-path('opensans-regular-webfont.eot?#iefix')) format('embedded-opentype'),
       url(font-path('opensans-regular-webfont.woff')) format('woff'),
       url(font-path('opensans-regular-webfont.ttf')) format('truetype'),
       url(font-path('opensans-regular-webfont.svg#webfont')) format('svg');
}

@font-face{ 
  font-family: 'opensans-bold';
  src: url(font-path('opensans-bold-webfont.eot'));
  src: url(font-path('opensans-bold-webfont.eot?#iefix')) format('embedded-opentype'),
       url(font-path('opensans-bold-webfont.woff')) format('woff'),
       url(font-path('opensans-bold-webfont.ttf')) format('truetype'),
       url(font-path('opensans-bold-webfont.svg#webfont')) format('svg');
}

@font-face{ 
  font-family: 'opensans-extrabold';
  src: url(font-path('opensans-extrabold-webfont.eot'));
  src: url(font-path('opensans-extrabold-webfont.eot?#iefix')) format('embedded-opentype'),
       url(font-path('opensans-extrabold-webfont.woff')) format('woff'),
       url(font-path('opensans-extrabold-webfont.ttf')) format('truetype'),
       url(font-path('opensans-extrabold-webfont.svg#webfont')) format('svg');
}
@font-face{ 
  font-family: 'opensans-semibold';
  src: url(font-path('opensans-semibold-webfont.eot'));
  src: url(font-path('opensans-semibold-webfont.eot?#iefix')) format('embedded-opentype'),
       url(font-path('opensans-semibold-webfont.woff')) format('woff'),
       url(font-path('opensans-semibold-webfont.ttf')) format('truetype'),
       url(font-path('opensans-semibold-webfont.svg#webfont')) format('svg');
}

@font-face{ 
  font-family: 'texgyreadventor-regular';
  src: url(font-path('texgyreadventor-regular-webfont.eot'));
  src: url(font-path('texgyreadventor-regular-webfont.eot?iefix')) format('eot'),
       url(font-path('texgyreadventor-regular-webfont.woff')) format('woff'),
       url(font-path('texgyreadventor-regular-webfont.ttf')) format('truetype'),
       url(font-path('texgyreadventor-regular-webfont.svg#webfont')) format('svg');
}

@font-face{ 
  font-family: 'texgyreadventor-bold';
  src: url(font-path('texgyreadventor-bold-webfont.eot'));
  src: url(font-path('texgyreadventor-bold-webfont.eot?iefix')) format('eot'),
       url(font-path('texgyreadventor-bold-webfont.woff')) format('woff'),
       url(font-path('texgyreadventor-bold-webfont.ttf')) format('truetype'),
       url(font-path('texgyreadventor-bold-webfont.svg#webfont')) format('svg');
}

@font-face{ 
  font-family: 'Century gothic';
  src: url(font-path('gothic.eot'));
  src: url(font-path('gothic.eot?iefix')) format('eot'),
       url(font-path('gothic.woff')) format('woff'),
       url(font-path('gothic.ttf')) format('truetype')       
}
